# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# IDE/editor files
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Operating system files
.DS_Store
Thumbs.db
